<nz-table #nzTable [nzData]="listOfData">
    <thead>
      <tr>
        <th nzCustomFilter>
            Lek
        </th>
        <th>
            Dijagnoza
        </th>
        <th>
          Overilac
      </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.medicineName }}</td>
        <td>{{ data.diagnosisName }}</td>
        <td>{{ nurseDN(data.nurseName, data.nurseSurname) }}</td>
      </tr>
    </tbody>
  </nz-table>

  <input [(ngModel)]="medicineName" style="margin-left: 8px; width: 220px;" nz-input placeholder="Pretraga po leku" nzSize="default" />
  <br />
  <br />
  <input [(ngModel)]="diagnosisName" style="margin-left: 8px; width: 220px;" nz-input placeholder="Pretraga po dijagnozi" nzSize="default" />
  <br />
  <br />
  <button (click)="search()" style="margin-left: 8px;" nz-button nzType="primary" nzGhost>Pretraži</button>