<nz-table #nzTable [nzData]="listOfData">
    <thead>
      <tr>
        <th nzCustomFilter>
            Broj
        </th>
        <th>
            Naziv
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.number }}</td>
        <td>{{ data.name }}</td>
        <td>
            <button (click)="update(data.id)" nz-button nzType="primary">Izmeni</button>
          </td>
          <td>
            <button (click)="delete(data.id)" nz-button nzType="danger">Ukloni</button>
          </td>
      </tr>
    </tbody>
  </nz-table>

  <input [(ngModel)]="number" style="margin-left: 8px; width: 220px;" nz-input placeholder="Pretraga po broju" nzSize="default" />
  <br />
  <br />
  <input [(ngModel)]="name" style="margin-left: 8px; width: 220px;" nz-input placeholder="Pretraga po nazivu" nzSize="default" />
  <br />
  <br />
  <button (click)="search()" style="margin-left: 8px;" nz-button nzType="primary" nzGhost>Pretraži</button>