<div class="profileWrapper">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
          <span>
            Naziv
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="name" formControlName="name" placeholder="naziv" />
          <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors"
            >Unesite naziv tipa pregleda!</nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price" nzRequired>
          <span>
            Cena
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="price" formControlName="price" placeholder="cena" />
          <nz-form-explain *ngIf="validateForm.get('price')?.dirty && validateForm.get('price')?.errors"
            >Unesite cenu tipa pregleda!</nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item *ngIf="!isReadOnly" nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button (click)="update()" nz-button nzType="primary">Sacuvaj</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>