<nz-table #nzTable [nzData]="listOfDisplayData">
    <thead>
      <tr>
        <th nzCustomFilter>
            Ime
            <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
                <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"nz-dropdown></i>
            <div class="search-box">
                <input type="text" nz-input placeholder="Pretraga po imenu" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                    Pretrazi
                </button>
                <button nz-button nzSize="small" (click)="reset()">
                    Resetuj
                </button>
            </div>
            </nz-dropdown>
        </th>
        <th>
            Prezime
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <td>
            <button nz-button nzType="primary" nzGhost>Profil</button>
          </td>
          <td>
            <button nz-button nzType="primary" nzGhost>Zdravstveni karton</button>
          </td>
          <td>
            <button nz-button nzType="primary" nzGhost>Zapocni pregled</button>
          </td>
          <td>
            <button nz-button nzType="danger" nzGhost>Ukloni</button>
          </td>
      </tr>
    </tbody>
  </nz-table>