<nz-table #nzTable [nzData]="listOfData">
    <thead>
      <tr>
        <th nzCustomFilter>
            Ime
            
        </th>
        <th>
            Prezime
        </th>
        <th>
            JMBG
        </th>
        <th></th>
        <th *ngIf="!isCCAdmin"></th>
        <th *ngIf="!isCCAdmin"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <td>{{ data.ssn}}</td>
        <td>
          <button (click)="profile(data.id)" nz-button nzType="primary">Profil</button>
        </td>
        <td *ngIf="!isCCAdmin  && !isNurse">
          <button nz-button nzType="primary" (click)="scheduleExamination(data.id)">Zakaži pregled</button>
        </td>
        <td *ngIf="!isCCAdmin && !isNurse">
          <button nz-button nzType="primary">Unesi izveštaj</button>
        </td>
      </tr>
    </tbody>
  </nz-table>