.first-login-form {
    margin-left: 2%;
    width: 310px;
}

.firstLoginWrapper {
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url(https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/91211771_1249471655255482_4489782593025212416_n.jpg?_nc_cat=110&_nc_sid=b96e70&_nc_eui2=AeFtFwDjbKGVofEyCwihzm9Dty-HCkD124dyGDQOj292aNcrmpseIFz1zAMhrOAJzxFWMOa18El1YzaVZkUbaNPj4xcDgIvzt99CsNryG9X9ng&_nc_ohc=M0_l1tzogcgAX_W_WVA&_nc_ht=scontent.fbeg1-1.fna&_nc_tp=7&oh=204bcbd0bad1972e940705c5996442b9&oe=5EAA41D9); */
    /* background-image: url("https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.15752-9/92243399_224871791906483_7179709220256743424_n.jpg?_nc_cat=105&_nc_sid=b96e70&_nc_eui2=AeENuS8tYnij7n2NHeevkDxwOemsAyn0WuQ56awDKfRa5H-uOCt6bAO6CK0UearqQwk&_nc_ohc=kIgq1Mx5xB8AX-L-BKK&_nc_ht=scontent.fbeg2-1.fna&oh=f9e1e2f843a8025124bbac8da07376c1&oe=5EB53C1C"); */
    background-image: url("https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.15752-9/92439135_257365475310834_8488652751989899264_n.jpg?_nc_cat=107&_nc_sid=b96e70&_nc_eui2=AeFLmtkcqaI6U9kuhmuCU6TVPmTfPlw_MSg-ZN8-XD8xKPhWrbEnnDUfEwRamEvsJfFm2E4xB5-XcjXYaBSFSaMe&_nc_ohc=VaJ5nWyHnkQAX8LYVJv&_nc_ht=scontent.fbeg1-1.fna&oh=dbba331801a0f82b6ea4ab939dca4fcf&oe=5ED18451");
    margin-top: 0 auto;
    height: 100%;
    width: 100%;
}


.logo {
    line-height: 64px;
    margin: 11px 113px -2px 32px;
    float: left;
}