.first-login-form {
    margin-left: 2%;
    width: 310px;
}

.firstLoginWrapper {
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url(https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/91211771_1249471655255482_4489782593025212416_n.jpg?_nc_cat=110&_nc_sid=b96e70&_nc_eui2=AeFtFwDjbKGVofEyCwihzm9Dty-HCkD124dyGDQOj292aNcrmpseIFz1zAMhrOAJzxFWMOa18El1YzaVZkUbaNPj4xcDgIvzt99CsNryG9X9ng&_nc_ohc=M0_l1tzogcgAX_W_WVA&_nc_ht=scontent.fbeg1-1.fna&_nc_tp=7&oh=204bcbd0bad1972e940705c5996442b9&oe=5EAA41D9); */
    /* background-image: url("https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.15752-9/92243399_224871791906483_7179709220256743424_n.jpg?_nc_cat=105&_nc_sid=b96e70&_nc_eui2=AeENuS8tYnij7n2NHeevkDxwOemsAyn0WuQ56awDKfRa5H-uOCt6bAO6CK0UearqQwk&_nc_ohc=kIgq1Mx5xB8AX-L-BKK&_nc_ht=scontent.fbeg2-1.fna&oh=f9e1e2f843a8025124bbac8da07376c1&oe=5EB53C1C"); */
    background-image: url("https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.15752-9/82929340_267059047948073_8169196265914702544_n.jpg?_nc_cat=103&_nc_sid=b96e70&_nc_eui2=AeGU1JXa7VYqohqs7ccQ3rXPkcx9W7nJKUGRzH1buckpQZHxQl6tLVWfGOLHF-dhOVRRQBlI5ib7vLVbJijA3Eyo&_nc_ohc=sCd4GCYNGdUAX9Fv-hi&_nc_ht=scontent.fbeg2-1.fna&oh=764db49e3879ea1ed60603bb2cccf84a&oe=5F0BB51E");
    margin-top: 0 auto;
    height: 100%;
    width: 100%;
}


.logo {
    line-height: 64px;
    margin: 11px 113px -2px 32px;
    float: left;
}