<nz-layout class="layout">
    <nz-header>
      <div class="logo">
        <a target="_blank">
           <h3 style="color: white; font-style: italic;">Klinički centar</h3>
        </a>
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
        <li routerLink="/dashboard/my-profile" nz-menu-item style="font-style:oblique;">Profil</li>
        <li *ngIf="isPatient" (click)="medicalRecordByPatient()" nz-menu-item style="font-style:oblique;">Zdravstveni karton</li>
        <li *ngIf="isPatient" routerLink="/dashboard/pricelist" nz-menu-item style="font-style:oblique;">Cenovnik</li>
        <li *ngIf="isDoctor || isNurse" (click)="clinicProfile()" nz-menu-item style="font-style:oblique;">Profil klinike</li>
        <li routerLink="/dashboard/google-maps" nz-menu-item style="font-style:oblique;">Mapa</li>
        <li nz-menu-item nzMatchRouter>
            <a (click)="updatePassword()" style="font-style:oblique;">Promeni lozinku</a>
        </li>
        <li nz-menu-item nzMatchRouter>
            <a (click)="clearStorage()" style="font-style:oblique;">Odjavi se</a>
        </li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider [nzWidth]="200" >
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" style="height:100%">
          
          <!-- admin -->

          <li *ngIf="isAdmin" nz-submenu>
            <span title>Klinika</span>
            <ul>
              <li (click)="clinicProfile()" nz-menu-item>Profil</li>
              <li (click)="doctorsByClinic()" nz-menu-item>Doktori</li>
              <li (click)="nursesByClinic()" nz-menu-item>Medicinske Sestre</li>
              <li (click)="emergencyRoomsByClinic()" nz-menu-item>Sale</li>
              <li (click)="examinationTypesByClinic()" nz-menu-item>Tipovi pregleda</li>
              <li (click)="reportByClinic()" nz-menu-item>Izveštaj</li>
              <li (click)="potentialExaminationsByClinic()" nz-menu-item>Slobodni pregledi</li>
              <li (click)="clinicsAvgGrade()" nz-menu-item>Prosečna ocena</li>
            </ul>
          </li>
          <li *ngIf="isAdmin" nz-submenu>
            <span title>Zahtevi</span>
            <ul>
              <li (click)="pendingExaminationsByClinic()" nz-menu-item>Za preglede</li>
              <li (click)="pendingVacationsByClinic()" nz-menu-item>Za godišnje odmore</li>
            </ul>
          </li>
          <li *ngIf="isAdmin" nz-submenu>
            <span title>Kreiraj</span>
            <ul>
              <li (click)="createExaminationType()" nz-menu-item>Tip pregleda</li>
              <li (click)="createEmergencyRoom()" nz-menu-item>Salu</li>
              <li (click)="createDoctor()" nz-menu-item>Doktora</li>
              <li (click)="createNurse()" nz-menu-item>Medicinsku sestru</li>
              <li (click)="createPotentialExamination()" nz-menu-item>Potencijalni pregled</li>
            </ul>
          </li>

          <!-- doctor / nurse -->

          <li nz-menu-item nzMatchRouter *ngIf="isDoctor || isNurse">
            <a (click)="patients()">Pacijenti</a>
          </li>

          <li nz-menu-item nzMatchRouter *ngIf="isDoctor || isNurse">
            <a routerLink="/dashboard/work-calendar">Radni kalendar</a>
          </li>

          <li nz-menu-item nzMatchRouter *ngIf="isDoctor || isNurse">
            <a (click)="vacation()">Godišnji odmor</a>
          </li>

          <li nz-menu-item nzMatchRouter *ngIf="isDoctor">
            <a (click)="futureExaminations()">Zakazane posete</a>
          </li>

          <li *ngIf="isDoctor || isNurse" nz-submenu>
            <span title>Recepti</span>
            <ul>
              <li *ngIf="isDoctor" (click)="createRecipe()" nz-menu-item>Kreiraj</li>
              <li (click)="certified()" nz-menu-item>Overeni</li>
              <li *ngIf="isDoctor" (click)="nonCertified()" nz-menu-item>Neovereni</li>
              <li *ngIf="isNurse" (click)="nonCertified()" nz-menu-item>Za overu</li>
            </ul>
          </li>

          <!-- patient -->

          <li *ngIf="isPatient" nz-submenu>
            <span title>Pregledi</span>
            <ul>
              <li nz-menu-item (click)="choosePotential()">Izaberi termin</li>
              <li nz-menu-item nzMatchRouter (click)="scheduleExaminations()">Zakaži</li>
              <li nz-menu-item nzMatchRouter (click)="confirmExaminations()">Potvrdi</li>
            </ul>
          </li>

          <li nz-menu-item nzMatchRouter *ngIf="isPatient">
            <a (click)="clinics()">Klinike</a>
          </li>

          <li nz-menu-item nzMatchRouter *ngIf="isPatient">
            <a (click)="futureExaminations()">Zakazane posete</a>
          </li>

          <li *ngIf="isPatient" nz-submenu>
            <span title>Arhiva</span>
            <ul>
              <li nz-menu-item (click)="examinationHistory()">Istorija pregleda</li>
              <li nz-menu-item>Istorija operacija</li>
            </ul>
          </li>

          <li *ngIf="isPatient" nz-submenu>
            <span title>Oceni</span>
            <ul>
              <li nz-menu-item (click)="gradeDoctors()">Lekare</li>
              <li nz-menu-item (click)="gradeClinics()">Klinike</li>
            </ul>
          </li>

          <!-- ccadmin -->

          <li *ngIf="isCCAdmin" nz-submenu>
            <span title>Kreiraj</span>
            <ul>
              <li (click)="createClinic()" nz-menu-item>Kliniku</li>
              <li (click)="createAdmin()" nz-menu-item>Admina</li>
              <li (click)="createMedicine()" nz-menu-item>Lek</li>
              <li (click)="createDiagnosis()" nz-menu-item>Dijagnozu</li>
              <li (click)="createMedicalRecord()" nz-menu-item>Zdravstveni karton</li>
            </ul>
          </li>

          <li *ngIf="isCCAdmin" nz-submenu>
            <span title>Zahtevi</span>
            <ul>
              <li (click)="registrationRequests()" nz-menu-item>Za registraciju</li>
            </ul>
          </li>

          <li *ngIf="isCCAdmin" nz-submenu>
            <span title>Liste</span>
            <ul>
              <li (click)="admins()" nz-menu-item>Administratori</li>
              <li (click)="doctors()" nz-menu-item>Lekari</li>
              <li (click)="nurses()" nz-menu-item>Medicinske sestre</li>
              <li (click)="allPatients()" nz-menu-item>Pacijenti</li>
              <li (click)="clinics()" nz-menu-item>Klinike</li>
              <li (click)="medicines()" nz-menu-item>Lekovi</li>
              <li (click)="diagnosis()" nz-menu-item>Dijagnoze</li>
            </ul>
          </li>
        </ul>

      </nz-sider>

      <nz-content style="min-height: 100%;">
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
