<div class="wrapper">
  <nz-date-picker nzPlaceHolder="Odaberi datum" style="width: 170px" [(ngModel)]="date"></nz-date-picker>

    <br />
    <br />

  <nz-time-picker nzPlaceHolder="Odaberi vreme" style="width: 170px" [(ngModel)]="startAt"></nz-time-picker>
      
    <br />
    <br />

  <nz-select
    style="width: 170px;"
    nzShowSearchselectedType
    nzAllowClear
    nzPlaceHolder="Izaberi doktora"
    [(ngModel)]="selectedDoctor"
  >
  <nz-option *ngFor="let item of listOfData" [nzValue]="item.id" [nzLabel]="item.firstName"></nz-option>
  </nz-select>

  <br />
  <br />

  <nz-select
    style="width: 170px;"
    nzShowSearchselectedType
    nzAllowClear
    nzPlaceHolder="Izaberi salu"
    [(ngModel)]="selectedEmergencyRoom"
  >
  <nz-option *ngFor="let item of listOfData2" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
  </nz-select>

  <br />
  <br />

  <button (click)="onSearch()" nz-button nzType="primary">Zakaži</button>
</div>