<div class="wallpaper" style="background-image: url(https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/92017952_153279066010201_8757929622147956736_n.jpg?_nc_cat=107&_nc_sid=b96e70&_nc_eui2=AeEP6m6rMEpLQd1K0ox4uDY9s9bOFnLEGXCz1s4WcsQZcGBmIUbHjYdRp0ulRTEh4hJ1QqXbMyiAz5O2D4qg5Ovp&_nc_ohc=65udRglsXb4AX8RrbrI&_nc_ht=scontent.fbeg2-1.fna&_nc_tp=7&oh=3e65ec6b0f844d71b5adccc0fce201e7&oe=5EF482CB);">
  <div class="logo">
      <a>
        <h2 style="color:#001529; font-style: italic;">Dobrodošli na zvanični sajt Kliničkog centra!</h2>
      </a>
  </div>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="Email" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('username')?.dirty && validateForm.get('username')?.errors">Unesite korisnicko ime!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Lozinka" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">Unesite lozinku!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="default" nzGhost class="login-form-button" [disabled]="!validateForm.valid">Uloguj se</button>
        Ili se
        <b><a (click)="onRegistration()" style="color:#001529; font-style: oblique;">registruj!</a></b>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>