<!-- <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">Unesite email!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Lozinka" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">Unesite lozinku!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!validateForm.valid">Uloguj se</button>
        Ili se
        <a (click)="onRegistartion()">registruj!</a>
      </nz-form-control>
    </nz-form-item>
  </form> -->
  <input type="password" nz-input formControlName="password" placeholder="Lozinka" />