<div class="walpaper" style="background-image: url(https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/91211771_1249471655255482_4489782593025212416_n.jpg?_nc_cat=110&_nc_sid=b96e70&_nc_eui2=AeFtFwDjbKGVofEyCwihzm9Dty-HCkD124dyGDQOj292aNcrmpseIFz1zAMhrOAJzxFWMOa18El1YzaVZkUbaNPj4xcDgIvzt99CsNryG9X9ng&_nc_ohc=M0_l1tzogcgAX_W_WVA&_nc_ht=scontent.fbeg1-1.fna&_nc_tp=7&oh=204bcbd0bad1972e940705c5996442b9&oe=5EAA41D9);">
  <div class="loginWrapper">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" placeholder="Email" />
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('username')?.dirty && validateForm.get('username')?.errors">Unesite korisnicko ime!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Lozinka" />
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">Unesite lozinku!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!validateForm.valid">Uloguj se</button>
            Ili se
            <a (click)="onRegistration()">registruj!</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
</div>