<div class="profileWrapper">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="number" nzRequired>
          <span>
            Broj
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="number" formControlName="number" placeholder="Broj" />
          <nz-form-explain *ngIf="validateForm.get('number')?.dirty && validateForm.get('number')?.errors"
            >Unesite broj sale!</nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
          <span>
            Naziv
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="name" formControlName="name" placeholder="Naziv" />
          <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors"
            >Unesite naziv sale!</nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item *ngIf="!isReadOnly" nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button (click)="update()" nz-button nzType="primary" [disabled]="!validateForm.valid">Sačuvaj</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>