.profileWrapper{
    margin-top: 20px;
    margin-left: 1%;
}

.ant-form-item-label {
    width: 260px;
}

.ant-col-sm-14 {
    width: 15%;
}

.proggress {
    width: 35%;
    font-size: 40px;
    margin-left: 40px;
}